$topbar-height: rem-calc(45);
$admin-layout-padding: rem-calc(10);

// Hack JavaScript behavior
.f-topbar-fixed {
  padding-top: 0 !important;
}

.row-full-page {
  width: 100%;
  max-width: 100%;
  .sticky.fixed {
    @include grid-column($columns: 10, $offset: 2, $collapse: true);
    float: right;
  }

  // Fix button size issue
  .top-bar {
    .button {
      height: rem-calc(29);
    }
  }
}

.m-admin--sidebar {
  position: fixed;
  height: 100%;
  @include side-nav;
  background-color: $smoke;
  @include grid-column($columns: 2);
}

.m-admin--content {
  padding-top: $admin-layout-padding;
  padding-left: $admin-layout-padding;
}
