$white: #ffffff;
$black: #333333;

$white-light: scale-color($white, $lightness: -40%);

$color-list-box-size: rem-calc(100);

.color-list {
  list-style: none;
  overflow: hidden;

  li {
    list-style: none;
    float: left;
    width: $color-list-box-size;
    height: $color-list-box-size;
    border: 5px solid $white;
    text-align: center;
    padding: rem-calc(10);

    //need background calc for this
    color: $white;
    text-shadow: 0px 2px rgba($black,0.6);

    &.primary {
      background-color: $primary-color;
    }
    &.secondary {
      background-color: $secondary-color;
    }
    &.alert {
      background-color: $alert-color;
    }
    &.success {
      background-color: $success-color;
    }
    &.warning {
      background-color: $warning-color;
    }
    &.info {
      background-color: $info-color;
    }
    &.body-bg {
      background-color: $body-bg;
    }
    &.body-font {
      background-color: $body-font-color;
    }
    &.header-font {
      background-color: $header-font-color;
    }
    &.subheader-font {
      background-color: $subheader-font-color;
    }
  }
}
