$footer-border: $jet;

.m-footer {
  background-color: $black;
  padding: rem-calc(80 40 40);
  margin-top: rem-calc(40);
  position: relative;
  color: $aluminum;
  p {
    color: $white-light;
  }
  hr {
    border-color: $footer-border;
  }
  .side-nav {
    min-height: rem-calc(250);
    @media #{$small}{
      border-right: 1px solid $footer-border;
    }
  }
}
