$footer-border: $jet;

.m-footer {
  background-color: $black;
  padding: rem-calc(40 0);
  position: relative;
  z-index: 90;
  p {
    color: $white-light;
  }
  hr {
    border-color: $footer-border;
  }
 .side-nav {
    min-height: rem-calc(250);
    @media #{$small}{
      border-right: 1px solid $footer-border;
    }
  }
}

.m-footer--title {
  @extend h2;
  color: $white;
  margin: rem-calc(0 0 40 0);
}
