.panel-signup {
  background: $white;
  text-align: center;
  i {
    font-size: rem-calc(24);
  }
}

.error {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    border-color: $alert-color;
  }
}
