.m-header {
  background-color: $primary-color;
  color: $white;
  padding: rem-calc(10 0 25);
  p {
    color: $white;
    text-shadow: $text-shadow;
  }
}

.m-header--title {
  color: $white;
  text-shadow: $text-shadow;
  font-size: rem-calc(70);
}
