$white:    #FFFFFF;
$smoke:    #EEEEEE;
$aluminum: #999999;
$snow:     #F9F9F9;
$oil:      #333333;
$jet:      #222222;
$black:    #000000;
$pink:     #E91E63;

$primary-color:   #607D8B;
$secondary-color: $oil;

$alert-color:     #E51C23;
$success-color:   #259B24;
$warning-color:   #FF5722;
$info-color:      #03A9F4;

$body-bg: $snow;
