$foundation-palette: (
  primary: #607D8B,
  secondary: #818181,
  success: #B8E986,
  warning: #F5A623,
  alert: #E56474,
);

$light-gray: #D1D1D1;
$medium-gray: #B8B8B8;
$dark-gray: #898989;

$black: #0a0a0a;
$white: #fefefe;


$pink:     #E91E63;


$body-background: #F9F9F9;
