/ Add to homescreen for Chrome on Android
meta name="mobile-web-app-capable" content="yes"
meta name="application-name" content="#{data.settings.site.title}"
link rel="icon" sizes="192x192" href="chrome-touch-icon-192x192.png"

/ Add to homescreen for Safari on iOS
meta name="apple-mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-status-bar-style" content="black"
meta name="apple-mobile-web-app-title" content="#{data.settings.site.title}"
link rel="apple-touch-icon" href="apple-touch-icon.png"

/ Tile icon for Win8 (144x144 + tile color)
meta name="msapplication-TileImage" content="ms-touch-icon-144x144-precomposed.png"
meta name="msapplication-TileColor" content="#607D8B"
meta name="theme-color" content="#607D8B"

/ Classic favicons
link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196"
link rel="icon" type="image/png" href="favicon-160x160.png" sizes="160x160"
link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96"
link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"
link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"
