.m-homepage,
.templates_homepage,
.templates_admin,
.templates_webapp {
  @extend .fp-script;

  h1,h2,h3,h4,h5,h6 {
    @extend .fp;
  }
  .top-bar-section a {
    @extend .fp-script;
  }
}

.m-homepage--section {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
}

.m-homepage--section-vertical {
  @media #{$medium-up} {
    display: flex;
    align-items: center;
    .l-content {
      padding: rem-calc(0 40);
    }
  }
}
