<!DOCTYPE html>
<html class="no-js" lang="en">
  <head prefix="og: http://ogp.me/ns# dc: http://purl.org/dc/terms/">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Homepage</title>
    <meta content="3 columns based template homepage." name="description" />
    <meta content="index,follow" name="robots" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="foundation-boilerplate" name="application-name" />
    <link href="http://flexbox.github.io/foundation-boilerplate/chrome-touch-icon-192x192.png" rel="icon" sizes="192x192" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="foundation-boilerplate" name="apple-mobile-web-app-title" />
    <link href="http://flexbox.github.io/foundation-boilerplate/apple-touch-icon.png" rel="apple-touch-icon" />
    <meta content="http://flexbox.github.io/foundation-boilerplate/ms-touch-icon-144x144-precomposed.png" name="msapplication-TileImage" />
    <meta content="#607D8B" name="msapplication-TileColor" />
    <meta content="#607D8B" name="theme-color" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-196x196.png" rel="icon" sizes="196x196" type="image/png" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-160x160.png" rel="icon" sizes="160x160" type="image/png" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="../assets/stylesheets/application-18f82f74.css" rel="stylesheet" type="text/css" /><link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono:400|Lato:300,400,700" rel="stylesheet" type="text/css" /><script src="../assets/javascripts/modernizr-16cc519e.js" type="text/javascript" defer="defer"></script>
  </head>
  <body class="templates templates_homepage">
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar="" role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">foundation-boilerplate</a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">
                    <span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="divider hide-for-small"></li>
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="#">Team</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="layout-section text-center">
      <div class="row">
        <div class="small-12 columns">
          <br /><br />
          <h1>
            Your awesome HTML prototype
          </h1>
          <p>
            with a cool baseline
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-8 medium-centered columns">
        <section class="row m-homepage--section">
          <div class="small-12 medium-2 columns text-center">
            <img alt="Picture of your product" src="http://placehold.it/150x150" />
          </div>
          <div class="small-12 medium-10 columns">
            <h3>
              A feature panel-proof your needs
            </h3>
            <p>
              We integrated all the tools you might need to communicate effectively on your project. With a few clicks, organize, move and configure your modules: images, text, strong messages, videos, links ... And we add new modules regularly.
            </p>
          </div>
        </section>
        <section class="row m-homepage--section">
          <div class="small-12 medium-2 columns text-center">
            <img alt="Picture of your product" src="http://placehold.it/150x150" />
          </div>
          <div class="small-12 medium-10 columns">
            <h3>
              Fully customizable
            </h3>
            <p>
              Some settings to completely customize your page and adapt precisely to your brand. Colors, fonts, images, backgrounds…
            </p>
          </div>
        </section>
        <section class="row m-homepage--section">
          <div class="small-12 medium-2 columns text-center">
            <img alt="Picture of your product" src="http://placehold.it/150x150" />
          </div>
          <div class="small-12 medium-10 columns">
            <h3>
              Simple pricing with students free discover plans
            </h3>
            <p>
              Because we like to see our users happy, and because we want to leave you the opportunity to develop it according to your specific needs, we developed the Open Source… You hold particularly to pay us for our work? Dedicate us a tweet of thanks and we will be left!
            </p>
          </div>
        </section>
      </div>
    </div>
    <div class="layout-section text-center">
      <section class="row m-homepage--section">
        <div class="small-12 columns">
          <h2>
            Simple pricing with students free discover plans
          </h2>
          <br /><img alt="Large placeholder" src="http://placehold.it/1200x200" /><br /><br />
          <div class="row">
            <div class="medium-8 medium-centered columns">
              <p>
                Some settings to completely customize your page and adapt precisely to your brand. Colors, fonts, images, backgrounds…
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <div class="medium-8 medium-centered columns">
        <div class="layout-section text-center">
          <div class="row collapse m-homepage--section-vertical">
            <div class="medium-6 medium-push-6 columns">
              <img alt="Medium plaeholder" src="http://placehold.it/550x500" />
            </div>
            <div class="medium-6 medium-pull-6 columns">
              <div class="l-content">
                <h2>
                  Black Mesa
                </h2>
                <p>
                  The events of the Black Mesa incident are triggered during a routine experiment conducted by the team of abnormal material in the area C, tests chamber C-33 / a.
                </p>
                <p>
                  “ Working to make a better tomorrow for all mankind ”
                </p>
              </div>
            </div>
          </div>
          <div class="row collapse m-homepage--section-vertical">
            <div class="medium-6 columns">
              <img alt="Medium plaeholder" src="http://placehold.it/550x500" />
            </div>
            <div class="medium-6 columns">
              <div class="l-content">
                <h2>
                  Aperture Science
                </h2>
                <p>
                  The Aperture Science Enrichment Center is an American research laboratory studying science and lunar rocks by performing various tests on human guinea pigs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <hr />
        <p>
          &copy; my aweome prototype page
        </p>
      </div>
    </div><script src="../assets/javascripts/application-616930dc.js" type="text/javascript"></script>
  </body>
</html>