<!DOCTYPE html>
<html class="no-js" lang="en">
  <head prefix="og: http://ogp.me/ns# dc: http://purl.org/dc/terms/">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Web application layout with icons</title>
    <meta content="" name="description" />
    <meta content="index,follow" name="robots" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="foundation-boilerplate" name="application-name" />
    <link href="http://flexbox.github.io/foundation-boilerplate/chrome-touch-icon-192x192.png" rel="icon" sizes="192x192" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="foundation-boilerplate" name="apple-mobile-web-app-title" />
    <link href="http://flexbox.github.io/foundation-boilerplate/apple-touch-icon.png" rel="apple-touch-icon" />
    <meta content="http://flexbox.github.io/foundation-boilerplate/ms-touch-icon-144x144-precomposed.png" name="msapplication-TileImage" />
    <meta content="#607D8B" name="msapplication-TileColor" />
    <meta content="#607D8B" name="theme-color" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-196x196.png" rel="icon" sizes="196x196" type="image/png" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-160x160.png" rel="icon" sizes="160x160" type="image/png" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="http://flexbox.github.io/foundation-boilerplate/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="../assets/stylesheets/application-18f82f74.css" rel="stylesheet" type="text/css" /><link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono:400|Lato:300,400,700" rel="stylesheet" type="text/css" /><script src="../assets/javascripts/modernizr-16cc519e.js" type="text/javascript" defer="defer"></script>
  </head>
  <body class="templates templates_webapp">
    <div class="templates_webapp--content">
      <div class="row row-full-width">
        <div class="small-12 columns">
          <h1>
            foundation-boilerplate
          </h1>
          <ul class="breadcrumbs">
            <li>
              <a href="#">entry</a>
            </li>
            <li>
              <a href="#">entry</a>
            </li>
            <li>
              <a href="#">entry</a>
            </li>
            <li>
              <a href="#">entry</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row row-full-width">
        <div class="small-12 xlarge-8 columns">
          <div class="row">
            <div class="medium-4 columns">
              <div class="panel">
                <h2>
                  item 0
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quasi reiciendis quo?
                </p>
                <a href="#">Read more</a>
              </div>
            </div>
            <div class="medium-4 columns">
              <div class="panel">
                <h2>
                  item 1
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quasi reiciendis quo?
                </p>
                <a href="#">Read more</a>
              </div>
            </div>
            <div class="medium-4 columns">
              <div class="panel">
                <h2>
                  item 2
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quasi reiciendis quo?
                </p>
                <a href="#">Read more</a>
              </div>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>
                  Table Header
                </th>
                <th>
                  Description
                </th>
                <th>
                  Nom
                </th>
                <th>
                  Email
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Content 1
                </td>
                <td>
                  Ad eum molestiae ducimus quos ducimus ut qui accusantium assumenda quibusdam dolore facilis et ipsa
                </td>
                <td>
                  Shawn McLean
                </td>
                <td>
                  carmen_hunt@fastmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 2
                </td>
                <td>
                  Et incidunt ut numquam aspernatur placeat eos adipisci ratione debitis reiciendis autem
                </td>
                <td>
                  Omar McAllister
                </td>
                <td>
                  beau_griffin@email.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 3
                </td>
                <td>
                  Fuga qui expedita eos
                </td>
                <td>
                  Camila Chen
                </td>
                <td>
                  hector_abrams@gmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 4
                </td>
                <td>
                  Cumque est consectetur officia recusandae nostrum laborum temporibus optio quos rerum iure
                </td>
                <td>
                  Toby Branch
                </td>
                <td>
                  daren_snyder@aol.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 5
                </td>
                <td>
                  Officiis autem in aspernatur voluptates dolorem
                </td>
                <td>
                  Toby Norman
                </td>
                <td>
                  kelvinsong@yahoo.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 6
                </td>
                <td>
                  Debitis voluptate veritatis sit omnis amet quisquam veritatis
                </td>
                <td>
                  Gretchen Beasley
                </td>
                <td>
                  kerryboswell@gmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 7
                </td>
                <td>
                  Repellat sed tempore culpa id
                </td>
                <td>
                  Skyler Hardin
                </td>
                <td>
                  alonzo_watts@aol.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 8
                </td>
                <td>
                  Quaerat vel est aliquid
                </td>
                <td>
                  Moses Teague
                </td>
                <td>
                  ewan_terrell@me.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 9
                </td>
                <td>
                  Sit ea fugit perferendis odit earum ullam ipsa eaque accusamus corporis
                </td>
                <td>
                  Daren Solomon
                </td>
                <td>
                  collin_rich@live.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 10
                </td>
                <td>
                  Maiores accusantium excepturi quis iusto laboriosam dolorem sit ea quia aut hic
                </td>
                <td>
                  Collin Adkins
                </td>
                <td>
                  guy_nichols@yahoo.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 11
                </td>
                <td>
                  Qui quasi odio accusamus ipsa quasi molestias earum eos ipsa commodi fuga alias labore
                </td>
                <td>
                  Joey Neal
                </td>
                <td>
                  francescaparks@me.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 12
                </td>
                <td>
                  Est dolor autem dolor amet omnis sunt voluptatem ut saepe
                </td>
                <td>
                  Clint Graham
                </td>
                <td>
                  jamal_adkins@gmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 13
                </td>
                <td>
                  Occaecati inventore corrupti beatae consequuntur accusantium sint et qui cum
                </td>
                <td>
                  Eric Carver
                </td>
                <td>
                  arturo-wallace@live.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 14
                </td>
                <td>
                  Laboriosam repellendus consectetur sunt et odit dolores a non dolor earum dolore
                </td>
                <td>
                  Isabel Cross
                </td>
                <td>
                  melinda-fox@mac.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 15
                </td>
                <td>
                  Rem voluptates eum consequatur nam aliquid occaecati velit dolor repudiandae illo sequi ea
                </td>
                <td>
                  Preston Griffin
                </td>
                <td>
                  lucindacowan@fastmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 16
                </td>
                <td>
                  Est quod laborum et perspiciatis distinctio et ad voluptatem animi rerum
                </td>
                <td>
                  Colm Cowan
                </td>
                <td>
                  alexis_rich@gmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 17
                </td>
                <td>
                  Dolorum rerum voluptatem recusandae vel dolores assumenda sed
                </td>
                <td>
                  Dominick Lloyd
                </td>
                <td>
                  andre-hobbs@aol.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 18
                </td>
                <td>
                  Autem libero officia nobis rerum at est delectus unde minima iusto est adipisci
                </td>
                <td>
                  Nolan Tilley
                </td>
                <td>
                  esmeralda-lucas@me.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 19
                </td>
                <td>
                  Quia quo eos cupiditate numquam dolorem et enim praesentium numquam ut libero
                </td>
                <td>
                  Kailey Heath
                </td>
                <td>
                  lorenzopickett@hotmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 20
                </td>
                <td>
                  Dolores qui excepturi illo porro aut eum omnis et aliquam ut sed voluptatem omnis
                </td>
                <td>
                  Isabel Zhang
                </td>
                <td>
                  wendell_o_donnell@live.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 21
                </td>
                <td>
                  Voluptatem voluptas molestias ad aut aut
                </td>
                <td>
                  Niall McAllister
                </td>
                <td>
                  bonnie_weiner@live.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 22
                </td>
                <td>
                  Enim libero omnis qui doloribus ad et tenetur
                </td>
                <td>
                  Tricia Eason
                </td>
                <td>
                  toby_sykes@email.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 23
                </td>
                <td>
                  Qui sunt consequatur ut ut sed quod temporibus aut temporibus qui similique dolore
                </td>
                <td>
                  Tammie Bowling
                </td>
                <td>
                  kailey-baker@hotmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 24
                </td>
                <td>
                  Aspernatur sed ex atque aliquam est ea
                </td>
                <td>
                  Deana Rich
                </td>
                <td>
                  sonja_norman@hotmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 25
                </td>
                <td>
                  Aut qui suscipit sint velit soluta sunt aliquid
                </td>
                <td>
                  Leslie Lucas
                </td>
                <td>
                  nolan-heath@mail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 26
                </td>
                <td>
                  Illum aspernatur itaque eos neque
                </td>
                <td>
                  Jadyn Steele
                </td>
                <td>
                  ty_glass@email.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 27
                </td>
                <td>
                  Et qui fugiat eum tempore tenetur ea
                </td>
                <td>
                  Nia Watson
                </td>
                <td>
                  janet_chang@gmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 28
                </td>
                <td>
                  Voluptate autem quos officiis voluptatem fugit voluptas
                </td>
                <td>
                  Carmen Monroe
                </td>
                <td>
                  phil-hamilton@aol.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 29
                </td>
                <td>
                  Accusantium commodi doloribus aut vel distinctio enim enim et eius dolorum
                </td>
                <td>
                  Alondra Palmer
                </td>
                <td>
                  sonjamcclure@mac.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 30
                </td>
                <td>
                  Debitis similique omnis laboriosam rerum aliquam id rem sed quia impedit saepe at architecto est
                </td>
                <td>
                  Agnes Byrne
                </td>
                <td>
                  cathleen-melton@fastmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 31
                </td>
                <td>
                  Aut asperiores aut excepturi possimus occaecati non et maiores voluptatibus consequatur
                </td>
                <td>
                  Cathleen McKenzie
                </td>
                <td>
                  brayden-weiner@fastmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 32
                </td>
                <td>
                  Illum sequi laboriosam enim et voluptas
                </td>
                <td>
                  Joann Johnston
                </td>
                <td>
                  kelly_garrett@gmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 33
                </td>
                <td>
                  Molestias labore culpa consequuntur sunt aspernatur veniam incidunt libero nam debitis quis
                </td>
                <td>
                  Gretchen Whitehead
                </td>
                <td>
                  tracymoss@mail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 34
                </td>
                <td>
                  Sed aperiam voluptas ut ea et
                </td>
                <td>
                  Summer Eason
                </td>
                <td>
                  agnesjennings@email.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 35
                </td>
                <td>
                  Quia sit ut veniam quia aut voluptate a voluptatibus
                </td>
                <td>
                  Ciaran Abbott
                </td>
                <td>
                  adriannanorman@aol.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 36
                </td>
                <td>
                  Quas non sit excepturi et optio provident molestias id eaque eveniet qui
                </td>
                <td>
                  Byron Olsen
                </td>
                <td>
                  kaleigh-sparks@hotmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 37
                </td>
                <td>
                  Minima eligendi quae et possimus omnis ut
                </td>
                <td>
                  Shawn Monroe
                </td>
                <td>
                  samuel_walton@live.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 38
                </td>
                <td>
                  Vero accusamus magni nam architecto cum modi placeat aut omnis aliquid nisi
                </td>
                <td>
                  Darius Hoyle
                </td>
                <td>
                  johnniefinch@live.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 39
                </td>
                <td>
                  Qui animi incidunt rem totam eum consectetur quia ea ipsum earum porro voluptate
                </td>
                <td>
                  Elias Hill
                </td>
                <td>
                  brock_walsh@fastmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 40
                </td>
                <td>
                  Voluptas nam aut soluta dolore est necessitatibus consequuntur nihil rerum eveniet aut necessitatibus temporibus sequi
                </td>
                <td>
                  Skyler Chandler
                </td>
                <td>
                  quinn-goldman@me.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 41
                </td>
                <td>
                  Libero minus quidem quo pariatur voluptatem qui ratione
                </td>
                <td>
                  Samuel Golden
                </td>
                <td>
                  harriet-jones@fastmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 42
                </td>
                <td>
                  Aperiam est at veniam alias dignissimos ad tempora dolor velit autem commodi neque ducimus qui
                </td>
                <td>
                  Skye Rich
                </td>
                <td>
                  niall_case@fastmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 43
                </td>
                <td>
                  Ipsa nobis dolore et nisi ullam sit omnis dolorum distinctio velit nobis et rerum quia
                </td>
                <td>
                  Sadie Case
                </td>
                <td>
                  bethharvey@fastmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 44
                </td>
                <td>
                  Nostrum voluptatibus rem dolorem delectus accusamus voluptate molestiae
                </td>
                <td>
                  Harriet Black
                </td>
                <td>
                  darius_sharpe@mail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 45
                </td>
                <td>
                  Repudiandae doloribus neque fugit mollitia aut ea ab
                </td>
                <td>
                  Jadyn Stevenson
                </td>
                <td>
                  penny_hardin@gmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 46
                </td>
                <td>
                  In enim qui fuga repellendus labore
                </td>
                <td>
                  Arturo Song
                </td>
                <td>
                  elisebarr@hotmail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 47
                </td>
                <td>
                  Voluptas ipsa eligendi ad autem eveniet ut
                </td>
                <td>
                  Esmeralda Jennings
                </td>
                <td>
                  jared-parks@mail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 48
                </td>
                <td>
                  Eos asperiores dolorem architecto voluptatem accusantium
                </td>
                <td>
                  Doris Case
                </td>
                <td>
                  francesca_whitaker@mail.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 49
                </td>
                <td>
                  Soluta autem voluptas rem sint
                </td>
                <td>
                  Elaine Golden
                </td>
                <td>
                  kaleigh_abbott@aol.com
                </td>
              </tr>
              <tr>
                <td>
                  Content 50
                </td>
                <td>
                  Rem et quos ad tempore deleniti laudantium nisi est quaerat ipsa sit error
                </td>
                <td>
                  Vanessa Walsh
                </td>
                <td>
                  allyson_holmes@aol.com
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="xlarge-4 columns">
          <div class="panel callout">
            <h4>
              Ola
            </h4>
            <ul>
              <li>
                Deana Burch
              </li>
              <li>
                Makenzie Heath
              </li>
              <li>
                Laila McLean
              </li>
              <li>
                Hudson Rodgers
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="templates_webapp--sidebar">
      <div class="icon-bar medium-vertical five-up" role="navigation"><a class="item" aria-labelledby="#itemlabelhome" href="#">
            <i class="fi-home"></i><label id="itemlabelhome">home</label></a><a class="item" aria-labelledby="#itemlabelbookmark" href="#">
            <i class="fi-bookmark"></i><label id="itemlabelbookmark">bookmark</label></a><a class="item" aria-labelledby="#itemlabelinfo" href="#">
            <i class="fi-info"></i><label id="itemlabelinfo">info</label></a><a class="item" aria-labelledby="#itemlabelmail" href="#">
            <i class="fi-mail"></i><label id="itemlabelmail">mail</label></a><a class="item" aria-labelledby="#itemlabellike" href="#">
            <i class="fi-like"></i><label id="itemlabellike">like</label></a>
      </div>
    </div><script src="../assets/javascripts/application-616930dc.js" type="text/javascript"></script>
  </body>
</html>