$pre-bg: $oil;

pre {
  background-color: $pre-bg;
  padding: rem-calc(15 10);
  line-height: rem-calc(20);
  margin-bottom: rem-calc(20);
  &:hover {
    cursor: $cursor-text-value;
  }
  code {
    font-weight: $font-weight-normal;
  }
}

code.highlight {
  border: none;
  color: #faf6e4;
  background-color: $pre-bg;
}
.highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.highlight .cp {
  color: #b2fd6d;
  font-style: italic;
}
.highlight .gr {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #f6dd62;
}
.highlight .o, .highlight .ow {
  color: #4df4ff;
}
.highlight .p, .highlight .pi {
  color: #4df4ff;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #b2fd6d;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
}
.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .kc {
  color: #f696db;
}
.highlight .kn {
  color: #ffb000;
}
.highlight .kp {
  color: #ffb000;
}
.highlight .kr {
  color: #ffb000;
}
.highlight .gh {
  color: #ffb000;
}
.highlight .gu {
  color: #ffb000;
}
.highlight .kt {
  color: #b2fd6d;
}
.highlight .no {
  color: #b2fd6d;
}
.highlight .nc {
  color: #b2fd6d;
}
.highlight .nd {
  color: #b2fd6d;
}
.highlight .nn {
  color: #b2fd6d;
}
.highlight .bp {
  color: #b2fd6d;
}
.highlight .ne {
  color: #b2fd6d;
}
.highlight .nl {
  color: #ffb000;
}
.highlight .nt,
.highlight .err {
  color: #ffb000;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #f696db;
}
.highlight .ld {
  color: #f696db;
}
.highlight .ss {
  color: #f696db;
}
.highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #fff0a6;
}
.highlight .se {
  color: #4df4ff;
}
.highlight .sc {
  color: #4df4ff;
}
.highlight .si {
  color: #4df4ff;
}
.highlight .nb {
}
.highlight .ni {
  color: #999999;
}
.highlight .w {
  color: #BBBBBB;
}
.highlight .nf {
  color: #a8e1fe;
}
.highlight .py {
  color: #a8e1fe;
}
.highlight .na {
  color: #a8e1fe;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #a8e1fe;
}
