#{data('magellan-expedition')}, #{data('magellan-expedition-clone')} {
  min-width: inherit;
  max-width: rem-calc(180);
}

.m-content {
  padding-top: rem-calc(25);
  padding-bottom: rem-calc(25);
}

.no-margin {
  margin-bottom: 0
}

p.m-extrator--content {
  color: $aluminum-light;
  font-weight: $font-weight-normal;
}
