#{data('magellan-expedition')}, #{data('magellan-expedition-clone')} {
  min-width: inherit;
  max-width: rem-calc(180);
}

.no-margin {
  margin-bottom: 0;
}

p.m-extrator--content {
  color: $aluminum-light;
  font-weight: $font-weight-normal;
}
