.grid-display {
  background-color: $smoke;
  font-size: rem-calc(12);
  text-align: center;
  margin-bottom: rem-calc(10);
  min-height: rem-calc(60);
  padding: rem-calc(30 0);
  margin-bottom: rem-calc(20);
}
