.m-display {
  background: none repeat scroll 0% 0% #EEE;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: 1px solid #C6C6C6;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: rem-calc(20) !important;
}
