.row-full-width {
  max-width: 100%;
}



.layout-section--inverse {
  background-color: $pre-bg;
  color: $white;
  margin: rem-calc(40 0);
  padding: rem-calc(40 0);

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

.layout-section {
  margin: rem-calc(40 0);
  padding: rem-calc(40 0);
}

.layout--feature-list {
  padding: $callout-padding;
  i {
    float: left;
    margin: rem-calc(0 40 0 10);
    line-height: 1;
    color: $dark-gray;
  }
}

.layout--side-nav {
  padding: rem-calc(20);
  background-color: scale-color($light-gray, $lightness: 50%);
  box-shadow: 0 -15px 0px scale-color($light-gray, $lightness: 50%);

  ul li ul {
    margin: 0;
    list-style-type: none;
  }
  .parent-label {
    display: block;
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    @extend .acolyte;
  }
  .active a {
    font-weight: $font-weight-bold !important;
    color: $black !important;
    background-color: transparent;
  }
}



.layout--footer {
  border-top: 1px solid $light-gray;
  padding: rem-calc(40);
  margin-top: rem-calc(40);
  color: $dark-gray;
  font-size: rem-calc(14);
}
