.row-full-width {
  max-width: 100%;
}



.layout-section--inverse {
  background-color: $oil;
  color: $white;
  margin: rem-calc(40 0);
  padding: rem-calc(40 0);

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

.layout-section {
  margin: rem-calc(40 0);
  padding: rem-calc(40 0);
}

.layout--feature-list {
  padding: $panel-padding;
  i {
    float: left;
    margin: rem-calc(0 40 0 10);
    line-height: 1;
    color: $aluminum;
  }
}

.layout--side-nav {
  padding: rem-calc(20);
  background-color: $smoke;
  box-shadow: 0 -15px 0px $smoke;

  ul li ul {
    margin: 0;
    list-style-type: none;
  }
  .parent-label {
    display: block;
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    @extend .acolyte;
  }
  a {
    @include single-transition();
  }
  .active a {
    font-weight: $font-weight-bold !important;
    color: $secondary-color !important;
  }
}



.layout--footer {
  border-top: 1px solid $hr-border-color;
  padding: rem-calc(40);
  margin-top: rem-calc(40);
  color: $aluminum;
  font-size: rem-calc(14);
}
