// Container used for styling the custom select
.custom-select {
  position: relative;
  display: block;
  border: {
    style: $input-border-style;
    width: $input-border-width;
    color: $input-border-color;
  }
  &:hover {
    background-color: $select-hover-bg-color;
    border-color: $input-focus-border-color;
  }

  &.disabled {
    background-color: $input-disabled-bg;
    cursor: $input-disabled-cursor;
  }

  /* This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper */
  select {
    @include form-select;
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

    margin-bottom: 0;
    background-image: none;
    cursor: $cursor-pointer-value;

    // Firefox focus has odd artifacts around the text, this kills that
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

  }

  // &:hover {
  //   border: 1px solid #888;
  // }

  option {
    font-weight:normal;
  }

  // Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select
  &::after {
    content: "";
    position: absolute;

    top: 25%;
    right: 1em;

    content: "\25BC";
    z-index: 2;
    // These hacks make the select behind the arrow clickable in some browsers
    pointer-events: none;
  }

}





 /* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting hack via http://browserhacks.com/#hack-f1070533535a12744a0381a75087a915 */
_:-ms-input-placeholder, :root .custom-select select::-ms-expand {
    display: none;
  }
  /* Removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
_:-ms-input-placeholder, :root .custom-select select:focus::-ms-value {
    background: transparent;
    color: #222;
  }

/* Firefox 6+ -- Hide the native select and arrow. We've found the simplest way to hide the native styling in FF is to make the select bigger than its container and clip it. */
/* The specific FF selector used below successfully overrides the previous rule that turns off the custom icon; other FF hacky selectors we tried, like `*>.custom-select::after`, did not undo the previous rule. Targeting hack via http://browserhacks.com/#hack-443a4eb168ccf066e7c2909be4911af1 */

/* Show the custom arrow again */
_::-moz-progress-bar, body:last-child .custom-select:after {
  display: block;
}
// Hacks to hide the native select appearance
_::-moz-progress-bar, body:last-child .custom-select select {
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
   /* increase padding to make room for menu icon */
  padding-right: 13%;
}

/* In FF 30+ -- Set overflow:hidden on the wrapper to clip the native select's arrow. Need to get extra wide (120%) because newest Firefox/Android is terrible. The downside is this makes the menu 20% wider than it should be when it opens. Hack targeting via http://browserhacks.com/#hack-cfd4c21603b122acfda8e81f41cdb320 */
@supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
   /* Clip select with the container */
   _::-moz-progress-bar, body:last-child .custom-select {
    overflow: hidden;
  }
}



/* Firefox 7+ focus style - This works around the issue that -moz-appearance: window kills the normal select focus. Using semi-opaque because outline doesn't handle rounded corners */
_::-moz-progress-bar, body:last-child .custom-select select:focus {
  outline: 2px solid rgba(180,222,250, .7);
}


/* Opera - Pre-Blink nix the custom arrow, go with a native select button */
x:-o-prefocus, .custom-select::after {
  display:none;
}
