---
title: Colors
description: Buttons sandbox with sizes, colors and icons
page_title: Buttons
page_baseline: Want to launch a rocket in space ?
layout: boilerplate
---

.row
  .medium-8.medium-centered.columns
    markdown:
      ## Design atmosphere
      - - -

      Here is a list of templates you can use for your next HTML prototype :

    = partial 'views/components/colors'
