---
title: Icons
description: Multiples examples with icons and Foundation boilerplate
page_title: Font icons
page_baseline: These examples use <strong>Foundation icons 3</strong>, but feel free to try it with fontawesome, fontello or your own svg icons !
layout: boilerplate
---

.row
  .medium-10.medium-centered.columns
    markdown:
      ## Icons
      - - -

      You can customize your icons to be any size, color, style in CSS.

.layout-section--inverse
  .row
    .medium-10.medium-centered.columns
      h4 HTML
      markdown:
        ~~~ html
        <i class="fi-[icon] small"></i>
        <i class="fi-[icon] medium"></i>
        <i class="fi-[icon] large"></i>
        ~~~

.row
  .medium-10.medium-centered.columns
    .row
      .small-4.columns
        i.fi-html5.small
        i.fi-html5.medium
        i.fi-html5.large
      .small-4.columns
        i.fi-css3.small
        i.fi-css3.medium
        i.fi-css3.large
      .small-4.columns
        i.fi-layout.small
        i.fi-layout.medium
        i.fi-layout.large
    p.text-right
      = link_to 'See the complete list &rarr;', 'http://zurb.com/playground/foundation-icon-fonts-3'
