---
title: Getting started
description:
page_title: Getting started
page_baseline: Download or install from one of these sources
layout: boilerplate
---

.row
  .medium-8.medium-centered.columns
    p.lead Download or install from one of these sources
    = link_to 'Download HTML & CSS', 'https://github.com/flexbox/foundation-boilerplate/archive/gh-pages.zip', class: 'button'
.layout-section--inverse
  .row
    .medium-10.medium-centered.columns
      p Clone from GitHub
      markdown:
        ~~~ shell
        git clone git@github.com:flexbox/foundation-boilerplate.git
        ~~~

.row
  .medium-8.medium-centered.columns
      markdown:
        Next: Learn how to [organise Sass stylesheets →](about.html)
