---
title: Breakpoints
description: Write media queries in Sass
page_title: Breakpoints
page_emphasis: Customize the layout for mobile devices
layout: components
---

.row
  .medium-8.medium-centered.columns
    markdown:
      ## Responsive columns

      Column sizes change dimensions once they reach certain breakpoints. They do it automatically because your website needs to be responsive and mobile friendly.

.layout-section--inverse
  .row
    .medium-10.medium-centered.columns

      markdown:
        ### SCSS
        ~~~ scss
        $small-breakpoint:  em-calc(640);
        $medium-breakpoint: em-calc(1024);
        $large-breakpoint:  em-calc(1440);
        $xlarge-breakpoint: em-calc(1920);
        ~~~
